@use 'src/styles/vars';

.reminders {
  // padding: 3rem 0 0 3rem;
  width: 100%;

  &-list {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    overflow-x: scroll;
    width: 100%;

    /* Styles de la barre de défilement */
    scrollbar-width: thin;
    /* Pour les navigateurs non-WebKit */
    scrollbar-color: vars.$color vars.$lightColor;
    /* Couleur de la barre de défilement et couleur de fond */

    /* Styles de la barre de défilement pour les navigateurs basés sur WebKit */
    &::-webkit-scrollbar {
      width: 50px;
      /* Ajustez la largeur selon vos besoins */
      background-color: vars.$lightColor;
      /* Couleur de fond de la barre de défilement */
    }

    &::-webkit-scrollbar-thumb {
      background-color: vars.$color;
      /* Couleur de la barre de défilement */
      border-radius: 5px;
      /* Ajustez le rayon de bordure selon vos besoins */
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #a81d1d;
    }
  }

  &-item {

    max-width: 20rem;
    min-width: 20rem;
    list-style: none;
    border: solid 1px vars.$color;
    border-radius: 7px;
    box-shadow: 13px 13px 26px #93938c,
      -13px -13px 26px #ffffff;
    margin-bottom: 2rem;

    &-header {
      font-size: 1.1rem;
      text-align: center;
      display: block;
      padding: 1rem;
      width: 100%;
      border-radius: 7px 7px 0 0;
      background-color: vars.$color;
    }

    &-main {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      & h3 {
        text-align: center;
        border-bottom: 2px solid vars.$color;
        font-size: 1.2rem;
      }
    }

    &-description {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      &-text {
        background-color: vars.$lightColor;
        font-style: italic;
        width: 100%;
        padding: 1rem;

        &-animal_name {
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }

  &-button {
    background-color: vars.$color;
    color: vars.$policeColor;
    border-radius: 5px;
    padding: 5px;
    font-family: vars.$font;
    margin-top: 20px;
    padding: 0.6rem;
    font-weight: 500;
    font-size: 1.1rem;
    border: none;
    background-color: vars.$color;
    color: vars.$lightColor;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);

    &:hover {
      color: vars.$color;
      background-color: vars.$mediumColor;
      cursor: pointer;
    }
  }
}