// Polices
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Colors
$lightColor: #fefdf1;
$lightColorOpacity: #fefdf1a0;
$policeColor: black;
$color: #ee870c;
$mediumColor: #fadcb8;
$mediumColorOpacity: #fadcb8b7;

// Polices
$font: 'Poppins', sans-serif;

// Screen sizes 
// format mobile : 578px phone
// format tablette : 768px
// format desktop : 992px
$sm: '578px';

$menuWidthOpen: 30rem;
$menuWidthClose: 6.5rem;